{% extends 'site_base.html' %}
{% load static %}
{% load i18n %}
{% load bootstrap4 %}
{% block title %}
{% translate 'View Clients' %}
{% endblock title %}
{% block content %}

<div class="page-banner-area bg-img-3 pt-95 pb-90">
    <div class="container">
        <div class="row">
            <div class="page-banner-content col-12 text-center">
                <h2>{% translate 'View Clients' %}</h2>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <!-- Servcice Layout Area Start-->
    <div class="service-layout-area pt-100 pb-40">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="main-box clearfix">
                                    <div class="table-responsive">
                                        <table class="table user-list">
                                            <thead>
                                                <tr>
                                                    <th>&nbsp;</th>
                                                    <th><span>{% translate 'name' %}</span></th>
                                                    <th><span>{% translate 'View' %}</span></th>
                                                </tr>
                                            </thead>
                                            {% for client in clients %}
                                            <tbody style="background-color: #ffffff52; padding-bottom: 10px;">
                                                <tr>
                                                    <td>
                                                        <div
                                                            style="font-size: 20px;text-align: center;padding-bottom: 2px;">
                                                            <span><i class="fa fa-user">
                                                                </i></span>
                                                        </div>

                                                    </td>
                                                    <td>
                                                        <h3>{{client.name}}</h3>
                                                    </td>


                                                    <td style="width: 10%;">
                                                        <a href="{% url 'cases:client_details' id=client.id %}"
                                                            class="table-link">
                                                            <button type="button" class="sent-btn"
                                                                style="padding-top: 6px;">{% translate 'View' %}</button>

                                                        </a>
                                                    </td>
                                                </tr>

                                            </tbody>
                                            {% endfor %}
                                        </table>
                                        {% if clients.has_other_pages %}
                                        <nav aria-label="Page navigation example">
                                            <ul class="pagination justify-content-center" style="color: #b99044;">
                                                {% if clients.has_previous %}
                                                <li class="page-item">
                                                    <a class="page-link" href="?page={{clients.previous_page_number}}"
                                                        style="color: #b99044;">&laquo;</a>
                                                </li>
                                                {% endif %}
                                                {% for i in clients.paginator.page_range %}
                                                {% if i == clients.number%}
                                                <li class="page-item active"><a class="page-link" href="?page={{i}}"
                                                        style="color: #ffffff;background-color: #b99044;border: none;">{{i}}</a></li>

                                                {% else %}
                                                <li class="page-item "><a class="page-link" href="?page={{i}}"
                                                        style="color: #b99044;">{{i}}</a>
                                                </li>
                                                {% endif %}


                                                {% endfor %}
                                                {% if clients.has_next %}
                                                <li class="page-item">
                                                    <a class="page-link"
                                                        href="?page={{clients.next_page_number}}" style="color: #b99044;">&raquo;</a>
                                                </li>
                                                {% endif %}
                                            </ul>
                                        </nav>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="col-lg-4">
                    <div class="service-sidebar-wrapper">
                        <div class="service-sidebar mb-50">

                            <div style="text-align: center;padding-top:10px">
                                <a href="{% url 'cases:client_create' %}">
                                    <button class="sent-btn" style="width: 100%;" type="submit">
                                        {% translate 'Create New Client' %}
                                       
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="service-sidebar-wrapper">
                        <div class="service-sidebar mb-40">
                            <h3>{% translate 'Search For Client' %}</h3>
                            <div class="sidebar-form">
                                <form method="post">
                                    {% csrf_token %}
                                    <input type="text" class="" placeholder="clients" name="client_search_field"
                                        list="client_search">

                                    <button type="submit"><i class="fa fa-search"></i></button>

                                    <datalist id="client_search">
                                        {% for client in clients_data %}
                                        <option data-value="{{client.name}}" value="{{client.name}}">{{client.name}}</option>
                                        {% endfor %}

                                    </datalist>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <!-- Servcice Layout Area End-->
</div>






{% endblock %}