{% extends 'site_base.html' %}
{% load static %}
{% load i18n %}
{% load bootstrap4 %}
{% block title %}
{% translate 'Client Create' %}
{% endblock title %}
{% block content %}
<div class="page-banner-area bg-img-3 pt-95 pb-90">
    <div class="container">
        <div class="row">
            <div class="page-banner-content col-12 text-center">
                <h2>{% translate 'Client Create' %}</h2>
            </div>
        </div>
    </div>
</div>
<div class="container">

    <div style="padding: 15px 15px;">
        <form method="POST">
            <div style="text-align: right;">
            {% csrf_token %}
            
            {% bootstrap_form client_form %}
            </div>
            <div style="text-align: center;">
                <button class="sent-btn" style="width: 50%;" type="submit">{% translate 'Client Create' %}</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}