{% extends 'dashboard_base.html' %}
{% load static %}
{% load i18n %}
{% load bootstrap4 %}
{% block title %}
{{user.username}} {% translate 'Change Password' %}
{% endblock title %}
{% block users %}
active
{% endblock users %}
{% block user_List %}
active
{% endblock user_List %}
{% block page_name %}
{{user.username}} {% translate 'Details' %}
{% endblock page_name %}
{% block page_name_1 %}
{% translate 'Users' %}
{% endblock page_name_1 %}
{% block page_name_2 %}
{% translate 'Users List' %} / {{user.username}} {% translate 'Details' %}
{% endblock page_name_2 %}

{% block content %}


<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">{{user.username|capfirst}} {% translate 'Profile' %}</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form method='post' style="text-align: right;direction: rtl;">
        {% csrf_token %}
        <div class="card-body">
            
            {% for message in messages %}
            {% if message.tags == 'error' %}
            <div class="row" style="text-align: center;">
                <div class="alert alert-warning alert-dismissible" style="width: 100%;">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <h5><i class="icon fas fa-exclamation-triangle"></i>{% translate 'Alert' %} !</h5>
                    {% translate 'Your Password Not Matching' %}
                    
                </div>
                
            </div>
            {% endif %}
            
    
            {% endfor  %}
            {% bootstrap_form user_form %}
        </div>
        <!-- /.card-body -->
        
        <div class="row" style="text-align: center;">
            <div class="card-footer col-12">
                <button type="submit" class="btn btn-secondary ">{% translate 'Change Password' %}</button>

            </div>
        </div>  
    </form>
</div>
{% endblock content %}