
{% extends "site_base.html" %}
{% load static %}
{% load bootstrap4 %}
{% block title %}Password Reset Done{% endblock title %}
{% block content %}
<div class="container">
<div class="row">
  <div class="col-12 center">
    <div
      style="width: 100%;border: 5px;border-style: solid;border-color:#b99044;padding: 20px;border-radius: 30px;margin: 15px;
      text-align: center; color: #b99044;font-size: 20px;">
      <p>We've emailed you instructions for setting your password. If they haven't arrived in a few minutes, check your spam folder.</p>
    </div>
  </div>
</div>
</div>
{% endblock %}