{% extends "site_base.html" %}
{% load static %}
{% load bootstrap4 %}
{% block title %}Password Change{% endblock title %}
{% block content %}
<div class="container">
<div class="row">
  <div class="col-12 center">
    <div
      style="width: 100%;border: 5px;border-style: solid;border-color:#b99044;padding: 20px;border-radius: 30px;margin: 15px;">


      <form action="" method="post">
        {% csrf_token %}
        {% if form.email.errors %}
        {{ form.email.errors }}
        {% endif %}
        {% bootstrap_form form %}
        <p>{{ form.email }}</p>
        <div style="text-align: center;">
          <button class="sent-btn" style="width: 50%;" type="submit">Reset Password</button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
{% endblock %}