{% extends 'dashboard_base.html' %}
{% load static %}
{% load i18n %}
{% load bootstrap4 %}
{% block title %}
{% translate 'Cases Sessions' %}

{% endblock title %}

{% block cases %}
active
{% endblock cases %}
{% block cases_sessions %}
active
{% endblock cases_sessions %}
{% block page_name %}
{% translate 'Sessions Control' %}
{% endblock page_name %}
{% block page_name_1 %}
{% translate 'Cases' %}
{% endblock page_name_1 %}
{% block page_name_2 %}
{% translate 'Sessions' %}
{% endblock page_name_2 %}

{% block content %}
<section class="content">
    <div class="container-fluid">


        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div style="padding-bottom: 10px;">
                            <h2 class="card-title" style="float: right;">{% translate 'Client Name' %} :<a
                                    href="{% url 'cases:client_details' id=cases.client.id %}">
                                    {{cases.client.name}}</a>
                            </h2>

                            <br>
                            <h3 class="card-title" style="float: right;">{% translate 'Case ID' %} : <a
                                    href="{% url 'cases:case_details' id=cases.id %}">
                                    {{cases.case_id}}</a></h3>
                        </div>

                    </div>
                    <!-- /.card-header -->
                    <div class="card-body p-0">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th style="width: 10px">#</th>
                                    <th>{% translate 'Session Date' %}</th>
                                    <th>{% translate 'Status' %}</th>
                                </tr>
                            </thead>
                            <tbody>

                                {% for session in sessions %}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td><a href="{% url 'cases:case_sessions_edit' id=session.id %}">
                                            {{session.date|date:'Y / m / d'}} </a></td>
                                    <td>
                                        <div style="text-align: left;">
                                            {% if session.session_description %}
                                            <div
                                                style="height: 10px;width:10px;background-color: rgb(64, 255, 64);border-radius: 5px;margin-top: 10px;">
                                            </div>
                                            {% else %}
                                            <div
                                                style="height: 10px;width:10px;background-color: rgb(250, 69, 56);border-radius: 5px;margin-top: 10px;">
                                            </div>
                                            {% endif %}
                                        </div>
                                    </td>

                                    <td><a href="{% url 'dashboard:dashboard_sessions_delete' id=session.id %}"><button
                                                type="button" class="btn btn-block btn-danger ">
                                                {% translate 'Delete Session' %}</button>
                                        </a></td>
                                </tr>
                                {% endfor %}

                            </tbody>

                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}