{% extends 'dashboard_base.html' %}
{% load static %}
{% load i18n %}
{% load bootstrap4 %}

{% block title %}
{% translate 'Clients' %}
{% endblock title %}

{% block cases %}
active
{% endblock cases %}
{% block cases_clients %}
active
{% endblock cases_clients %}
{% block page_name %}
{% translate 'Clients' %}
{% endblock page_name %}
{% block page_name_1 %}
{% translate 'Cases' %}

{% endblock page_name_1 %}
{% block page_name_2 %}
{% translate 'Clients' %}
{% endblock page_name_2 %}

{% block content %}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">{% translate 'Clients Search' %}</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form method='post' style="text-align: right;direction: rtl;">
                        {% csrf_token %}
                        <div class="card-body">
                            <div class="form-group">
                                <label for="exampleInputEmail1">{% translate 'Clients' %}</label>
                                <input type="text" class="form-control"
                                    placeholder="{% translate 'Enter Client Name' %}" name="client_search_field"
                                    list="client_search">
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">{% translate 'Search' %}</button>
                        </div>
                        <datalist id="client_search">
                            {% for client in clients_data %}
                            <option value="{{client.name}}"></option>
                            {% endfor %}
                        </datalist>
                    </form>

                </div>
            </div>
        </div>
        <div class="row" style="text-align: right;direction: rtl;">
            <div class="col-md-12">
                <div class="card bg-danger">
                    <div class="card-header">
                        <h3 class="card-title" style="float: right;">{% translate 'Alert : Deleting Clients' %}</h3>
                    </div>
                    <div class="card-body">
                        <p>
                            {% translate 'Be CareFul Deleting Clients Will Deleting His Cases ,Files ,Sessions That connected With This Client' %}

                        </p>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">{% translate 'Clients' %}</h3>
                        {% if clients.has_other_pages %}
                        <div class="card-tools">
                            <ul class="pagination pagination-sm float-right">
                                {% if clients.has_previous %}
                                <li class="page-item"><a class="page-link"
                                        href="?page={{clients.previous_page_number}}">&laquo;</a></li>
                                {% endif %}
                                {% for i in clients.paginator.page_range %}
                                <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                                {% endfor %}
                                {% if clients.has_next %}
                                <li class="page-item"><a class="page-link"
                                        href="?page={{clients.next_page_number}}">&raquo;</a></li>
                                {% endif %}
                            </ul>
                        </div>
                        {% endif %}
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body p-0">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th style="width: 10px">#</th>
                                    <th>{% translate 'Name' %}</th>
                                    <th style="width: 40px"></th>
                                    <th style="width: 40px"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for client in clients %}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td><a href="{% url 'cases:client_details' id=client.id %}">
                                            {{client.name}}

                                        </a>
                                    </td>
                                    <td><a href="{% url 'cases:client_edit' id=client.id %}"><button type="button"
                                                class="btn btn-block btn-secondary ">{% translate 'Edit' %}</button>
                                        </a>
                                    </td>
                                    <td><a href="{% url 'dashboard:dashboard_clients_delete' id=client.id %}"><button
                                                type="button" class="btn btn-block btn-danger ">{% translate 'Delete' %}</button>
                                        </a></td>
                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}